@charset "utf-8";

#app{
    margin: 0 auto;
}

@media screen and (max-width: 480px){
   
}

.Header{
    height: 65px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fafafa;
    width: 100%;
    z-index: 9000;
    border-bottom: 1px solid #dcdcdc
}

.header-navi{
    padding: 0 20px;
    display: flex;
    height: 65px;
}

.nav-link{
    display: flex;
    padding: 0 0 0 24px;
    margin: 0px 0px;
    height: 65px;
}

.link{
    margin-left: 22px;
    margin-top: 15px;
}

#discovery{
    background-color: #f5f3f3;
    height: 100vh;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding:50px 0px 50px 0;
}

.content{
    height: 100vh;
}

.image-list{
    flex-wrap: wrap;
    justify-content: space-between;
}

.SubmitButton{
    box-sizing: border-box;
    margin: 0;
    border-radius: 40px;
    background-color: #e69d30;
    color:#000;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px #dcdcdc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}



.CommentForm{
    width: 250px;
    height: 30px;
    box-sizing: border-box;
    font-size: inherit;
    user-select: none;
    border: 1px solid #20212452;
    outline: none;
    justify-content: center;
    align-items: center;
    color: #202124;
    background-color: transparent;
    border-radius: 5px;
    padding: 6px 8px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}



