@charset "utf-8";

#app{
    margin: 0 auto;
}

@media screen and (max-width: 480px){
   
}

.Header{
    height: 60px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fafafa;
    width: 100%;
    z-index: 9000;
    border-bottom: 1px solid #dcdcdc
}

.header-navi{
    padding: 0 20px;
    display: flex;
    height: 60px;
}

.nav-link{
    display: flex;
    padding: 0 0 0 24px;
    margin: 0px 0px;
    height: 60px;
}

.link{
    margin-left: 22px;
    margin-top: 12px;
}

#discovery{
    background-color: #f5f3f3;
    height: 100vh;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding:50px 0px 50px 0;
}

.content{
    height: 100vh;
}
.error-message{
    width: 85%;
    margin-left:63px;
}
.ErrorMessage{
    display: flex;
    color: #D93025;
    font-size: 14px;
    justify-content: start;
    padding-top: 3px;
    margin-bottom: -20px;
}

.image-list{
    flex-wrap: wrap;
    justify-content: space-between;
}

.SubmitButton{
    box-sizing: border-box;
    margin: 0;
    border-radius: 40px;
    background-color: #e69d30;
    color:#000;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px #dcdcdc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}



.LoginForm{
    width: 250px;
    height: 30px;
    box-sizing: border-box;
    font-size: inherit;
    user-select: none;
    border-bottom: 1px solid #20212452;
    outline: none;
    justify-content: center;
    align-items: center;
    color: #202124;
    background-color: transparent;
    padding: 6px 8px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}

/* post */

.post-card{
    text-align: center;
    background:#fafafa;
    border-radius:16px;
    width:80%;
    height: auto;
    margin: 0 auto;
    margin-top: 95px;
}
.post-detail{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.post-button{
    text-align: right;
    padding:20px 20px 20px 0;

}
.post-button .SubmitButton{
    padding: 0;
    width: 100px;
    height: 35px;
}
.image-input-field {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    background:#efefef;
    border: solid 1px #2021246b;
    margin-right: 50px;

}

.image-input-field > input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.image-input-field > p {
    color: rgb(46, 46, 46);
    margin: 0 auto;
    
}

.post-image{
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
}

.post-comment{
    width: 35%;
    position: relative;
}
.TextArea{
    border-bottom: solid 1px rgb(46, 46, 46);
    outline: none; 
    user-select: text; 
    white-space: pre-wrap; 
    overflow-wrap: break-word;
    padding-top: 100px;
}
.TextArea:empty:before{
    content: 'コメントを追加';
    color: gray;
}
.cancel-preview{
    width: 45px;
    height: 45px;
    margin-right: -45px;
    margin-top: -150px;
    background:#fff;
    z-index: 100;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

}
.preview{
    width: 35px;
    height: 35px;
    z-index: 101;
    margin-top: 5px;
}





