@charset "utf-8";

#app{
    margin: 0 auto;
}


.Header{
    height: 65px;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    z-index: 1;
}
.header-logo{
    flex: 1 9999 0%;
    min-width: 40px;
}
.header-navi{
    padding: 0 20px;
    display: flex;
    height: 100%;
}

.nav-link{
    display: flex;
    padding: 0 0 0 24px;
    margin: 0px 0px;
    height:100%;
    flex: 1 9999 0%;
    min-width: 70px;
}

.link{
    font-size: 22px;
    margin:23px 0 16px 25px;
}
.nav-img{
    width: 120px;
    height: 50px;
    border-radius: 20px;
}
#discovery{
    background-color: #f5f3f3;
    width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding:80px 0;
}
.content{
    max-width: 950px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
}
.error-message{
    width: 85%;
    margin-left:63px;
}
.ErrorMessage{
    display: flex;
    color: #D93025;
    font-size: 14px;
    justify-content: start;
    padding-top: 3px;
    margin-bottom: -20px;
}


.SubmitButton{
    box-sizing: border-box;
    margin: 0;
    border-radius: 40px;
    background-color: #e69d30;
    color: rgb(19, 19, 19);
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-weight: bold;
}



.LoginForm{
    width: 250px;
    height: 30px;
    box-sizing: border-box;
    font-size: inherit;
    user-select: none;
    border-bottom: 1px solid #20212452;
    outline: none;
    justify-content: center;
    align-items: center;
    color: #202124;
    background-color: transparent;
    padding: 6px 8px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}

/* post */

.close-post{
    text-align: left;
    position: absolute;
    top: 25%;
    left: 21%;
}

.post-card{
    text-align: center;
    background:#fafafa;
    border-radius:16px;
    width:57%;
    height: auto;
    margin: 60px auto 0 auto ;
    padding: 20px;
    
}

.post-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.post-image-area{
    width: 300px;
    padding:30px 30px 70px 15px;
}
.post-comment-area{
    width: 350px;
    height: auto;
}
.post-image{
    width: 100%;
    position: relative;
    border-radius: 7px;
}


.image-input-field {
    width: 300px;
    height: auto;
    position: relative;
    display: flex;
    background:#efefef;
    border: solid 1px #20212451;
    margin-right: 50px;
    border-radius: 7px;
}


.image-input-field > input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.post-button{
    text-align: right;
    padding:16px 0  16px  0;
}
.post-button .SubmitButton{
    padding: 0;
    width: 100px;
    height: 35px;
}
.TextArea{
    width: 90%;
    height: 10vh;
    border-radius: 5px;
    border: 1px solid #20212465;
    font-size: 16px;
    padding-inline-start: 5px;
}

.TextArea:focus{
    border: solid 1px #e69d30;
    transition: all 0.1s;
    outline: none;
}
.cancel-button{
    width: 35px;
    margin-right: -45px;
    background:#fff;
    z-index: 1;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.cancel{
    padding: 7px 0 0 5px;
}
/* modal */

.modal-mask {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(73, 73, 73, 0.5);
    display: table;
    transition: opacity 0.3s ease;
    
    
}
  
.modal-wrapper {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 0 40px;
    width: 100vw;
    height: 100vh;
}
  
.modal-container {
    
    width: 35%;
    margin: 0px auto;
    margin-top: 90px;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}
  
  
.modal-body {
    width: 100%;
    margin: 10px auto;
}
  
.modal-default-button {
    display: flex;
    justify-content: flex-end;
    border: none;
    outline: none;
    cursor: pointer;
}
  
.modal-enter-active, .v-leave-active {
    transition: all 0.5s
}
  
.modal-enter {
    transform: translateY(-11px);
}
.modal-leave {
    transform:  translateY(11px);
}
.modal-enter, .modal-leave-to {
    opacity: 0
}
.modal-image{
    width: 90%;
    height: 50vh;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width:1080px){
    .modal-container{
        width: 350px;
    }
}


/* discovery */

.image-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.PostList{
    width: 31%;
    margin: 0 5px 18px 5px;
}

.show-image{
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
}
.loading{
    margin: 0 auto;
    margin-top: 250px;
    text-align: center;
}
/* detail */
.PostDetails{
    max-height: 90%;
    /* position: fixed; */
}
.close-button{
    width: 0px;
    height: 20px;
    position: absolute;
    top: 50px;
    right: 140px;
    cursor: pointer;
    z-index: 2;
}

.detail-card{
    width: 100%;
    height:auto;
    max-width: 935px;
    min-height: 544px;
    margin: 90px auto 50px auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.detail-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.detail-body{
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 547px;
}
.detail-image-container{
    display: flex;
    width: 65%;
    height: 100%;
}
.detail-image {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.detail{
    width: 46%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
}
.detail-comment{
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 100%;
    max-width: 270px;
    min-width: 0;
    overflow: scroll;
    text-align: left;
    margin: 10px auto;
    flex-shrink: 1;
}
.input-comment{
    background: 0 0;
    border: 0;
    color: #262626;
    display: flex;
    flex-grow: 1;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    width: 0;
}
.input-field{
    display: flex;
    position: relative;
    height: 10vh;
    margin-top: 8px;
    padding: 0 11px;
    font-size: 16px;
    border-top: 1px solid #c9c9c9;
}
.upload-image{
    color: rgb(46, 46, 46);
    margin: 0 auto;
    padding: 40% 0;
}
.detail-comment::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.post-user-status{
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #edecec;
}
.post-mask{
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.post-mask::-webkit-scrollbar{
    width: 0;
    height: 0;
}

