@charset "utf-8";

@font-face {
    font-family: "nf" ;
    src: url(font/nikufon.woff)format('woff'),
         url(font/nikufon.ttf)format('truetype'),
         url(font/nikufon.otf)format('opentype');
    font-weight: normal;
    font-style: normal;
}

.nf-font {
	font-family: 'nf';
}

*{
    padding: 0;
    margin: 0;
}


html body{
    font-family:'Segoe UI', Frutige, Dejavu, Sans, Helvetica, Neue, Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background: #e7e8e9;
    overflow-y: auto;
}

@media screen and (max-width: 480px){
    html, body{
        width: 100vw;
        height: 100%;
    }
}
a{
    text-decoration: none;
    color: #1a2231;
    font-weight: bold;
    display: block;
    height: 100%;
}
nav{
    margin-left: auto;
    height: 54px;
    border: 0 solid #000;
}

nav ul{
    list-style: none;
    display: flex;
    text-align: center;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
input{
    outline: none;
    border: none; 
    
}
input::placeholder{
    text-align: center;
    border-style: none;
}

input:focus{
    border-bottom: solid 1px #e69d30;
    transition: all 0.1s;
    outline: none;
}

img{
    max-width: 100%;
}

textarea{
    background: 0 0;
    border: 0;
    color: #262626;
    display: flex;
    flex-grow: 1;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    width: 0;
}



