.close-icon-w{
    position: absolute;
    top: 50px;
    right: 140px;
    cursor: pointer;
    width: 24px; height: 24px;
    background: url('../icon/icon.png') -9px -52px;
}
.close-icon-b{
    position: absolute;
    cursor: pointer;
    width: 24px; height: 24px;
    background: url('../icon/icon.png') -9px -136px;
}
.upload-icon{
    width: 24px; height: 24px;
    background: url('../icon/icon.png') -51px -52px;
}
.rightPaginationArrow{
    position: absolute;
    width: 25px; height: 25px;
    background: url('../icon/icon.png') -52px -9px;
}
.leftPaginationArrow{
    position: absolute;
    width: 25px; height: 25px;
    background: url('../icon/icon.png') -9px -9px;
}
.exclamation{
    width: 24px; height: 24px;
    background: url('../icon/icon.png') -9px -94px;
}
.visible{
    background: url('../icon/icon.png') -51px -94px;
    background-repeat: no-repeat;
    width: 23px; height: 23px;
    background-size: 20px;
    margin: -24px 0 0 289px;
    position: relative;
}
.unvisible{
    background: url('../icon/icon.png') -93px -94px;
    background-repeat: no-repeat;
    width: 23px; height: 23px;
    background-size: 20px;
    margin: -24px 0 0 289px;
    position: relative;
}
.password{
    background: url('../icon/icon.png')-137px -9px;
    width: 24px; height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left 5px bottom 4px; 
}
.mail{
    background-image: url('../icon/icon.png')-137px -51px;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 24px; height: 24px;
    background-position: left 5px bottom 4px ; 
}
.user-name{
    background-image: url('../icon/icon.png')-137px -93px;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 24px; height: 24px;
    background-position: left 5px bottom 4px ; 
}
/* .preview-cancel{
    width: 35px;
    height: 35px;
    z-index: 101;
    margin-top: 5px;
} */