.post-container{
    display: block!important;
    margin:0;
    padding: 0;
} 
.post-card{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 55px;
}
.post-image-area{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 25px 20px 0 20px;  
}
.post-comment-area{
    width: auto;
    height: auto;
    padding: 20px 20px 0 20px;
    margin: 0 auto;
}
.post-comment{
    display: block;
}
.image-input-field{
    margin: 0 auto;
    width: 70%;
    height: auto;
}
.post-image{
    width: 100%;
    height: auto;
}
.image-input-field > p{
    padding: 35% 0;
    margin: 0 auto;
    width: auto;
}
.image-input-field input{
    height: 100%;
}

.cancel-button{
    margin-bottom: -45px;
    width: 30px;
    height: 30px;
    margin-right: -45px;
}
.cancel{
    width: 25px;
    height: 25px;
    margin-top: 2.5px;
}
.TextArea{
    width: 74%;
    margin: 0 auto;
    border-bottom: 1px solid #20212465;
}
.detail-container{
    width: 55%;
    height: 60%;
    margin:auto;
}
.detail-body{
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
}
.detail-body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.detail-image{
    width: auto;
    text-align: center;
}
.detail-image img{
    width: 100%;
    height: 100%;
}
.PostList{
    width: 47%;
    margin: 1% 0;  
}
.show-image img{
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
}
.modal-container{
    width: 280px;
}
.modal-image{
    height: 45vh;
}
.link{
    font-size: 17px;
}
.upload-icon{
    top: 37%;
}
.close-post{
    top: 28%;
    left: 5%;
}